body {
  background: silver;
  color: navy;
  font-family: serif;
  padding: 0;
}
input[type="button"] {
  padding-left: 1em;
  padding-right: 1em;
}

select > option {
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  font-size: large;
  text-align: center;
  color: white;
  background: teal;
}
[lang="ja"] h1 {
  font-family: "筑紫B丸ゴシック", sans-serif;
}
[lang="en"] h1 {
  font-family: Luminari, Skia, sans-serif;
}
code {
  background: lightcyan;
  color: darkslategray;
  border: 1px solid royalblue;
  font-family: "Ricty Discord", "Courier New", Monaco, monospace;
  white-space: pre;
  margin: 4pt;
}
#svg_code, #list_of_persons {
  height: 5em;
  width: 50em;
  display: inline-block;
  overflow: auto;
  padding: 2pt;
}
a {
  color: crimson;
}
a:hover {
  background: royalblue;
  color: white;
  font-weight: bold;
}

#tree_canvas_div {
  display: block;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  max-height: 80vh;
  max-width: 98vw;
  overflow: auto;
}
svg {
  border: solid 1px royalblue;
  background: white;
}

table {
  border-collapse: collapse;
  margin: 1em;
}

td, th {
  border: solid 1px navy;
  padding: 4pt;
}
tr:nth-child(3n) > td {
  background: cadetblue;
}
tr:nth-child(3n+1) > td {
  background: darkgrey;
}
tr:nth-child(3n+2) > td {
  background: tan;
}

th {
  word-break: keep-all;
}
[lang="ja"] th {
  font-family: "筑紫B丸ゴシック", sans-serif;
}
[lang="en"] th {
  font-family: Optima, Skia, sans-serif;
}
tr:nth-child(3n) > th {
  background: linear-gradient(to right, teal, powderblue 30%, cadetblue 90%, teal);
}
tr:nth-child(3n+1) > th {
  background: linear-gradient(to right, dimgray, lightgray 30%, darkgray 90%, dimgrey);
}
tr:nth-child(3n+2) > th {
  background: linear-gradient(to right, peru, wheat 30%, tan 90%, peru);
}

td ul {
  margin: 0;
  padding-left: 1em;
}

#svg_backup {
  display: inline;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#svg_backup > li {
  display: inline;
  margin-right: 1ex;
}
#svg_backup > li::before {
  content: "🎨";
}
p, nav {
  margin-left: 1em;
  margin-right: 1em;
}
nav {
  text-align: right;
}
p.info {
  border: 1px solid peru;
  background: wheat;
  padding: 4pt;
}
span.info {
  font-family: "Monaco", "Ricty Discord", "Courier New", Monaco, monospace;
  background: white;
}
#detailed_info_about_links {
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid peru;
  padding: 0;
  max-height: 15em;
  overflow: auto;
}
#detailed_info_about_links ul {
  margin: 0;
  display: inline;
}
[lang="ja"] #detailed_info_about_links dt {
  font-family: "筑紫B丸ゴシック", sans-serif;
  text-decoration: underline;
}
[lang="en"] #detailed_info_about_links dt {
  font-family: Optima, Skia, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

p.btn {
  padding-left: 1em;
  padding-right: 1em;
}
button.menu {
  color: navy;
  font-weight: bold;
  white-space: pre;
  border-top: deepskyblue solid 4pt;
  border-right: teal solid 4pt;
  border-bottom: teal solid 4pt;
  border-left: deepskyblue solid 4pt;
  border-radius: 8pt;
  margin-right: 1em;
  background: powderblue;
}
button.menu:hover {
  background: navy;
  color: powderblue;
}
[lang="ja"] button {
  font-family: "筑紫B丸ゴシック", sans-serif;
}
[lang="en"] button {
  font-family: Optima, Skia, sans-serif;
}

span.note_color.blue {
  color: hsl(240, 90%, 50%);
}
span.note_color.sage_green {
  color: hsl(190, 55%, 40%);
}
span.note_color.green {
  color: hsl(100, 90%, 30%);
}
span.note_color.orange {
  color: hsl(25, 80%, 50%);
}
span.note_color.red {
  color: hsl(350, 90%, 50%);
}
span.note_color.purple {
  color: hsl(310, 60%, 45%);
}

span.badge_color.black {
  color: black;
}
span.badge_color.dimgray {
  color: dimgray;
}
span.badge_color.darkblue {
  color: darkblue;
}
span.badge_color.crimson {
  color: crimson;
}
span.badge_color.saddlebrown {
  color: saddlebrown;
}
span.badge_color.purple {
  color: purple;
}
span.badge_color.darkgreen {
  color: darkgreen;
}
