body {
  background: silver;
  color: navy;
  font-family: serif;
  padding: 0;
}
input[type="button"] {
  padding-left: 1em;
  padding-right: 1em;
}

select > option {
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  font-size: large;
  font-family: "筑紫B丸ゴシック", sans-serif;
  text-align: center;
  color: white;
  background: teal;
}
code {
  background: lightcyan;
  color: darkslategray;
  border: 1px solid royalblue;
  font-family: "Ricty Discord", "Courier New", monospace;
  white-space: pre;
  margin: 4pt;
}
#svg_code, #list_of_persons {
  height: 5em;
  width: 50em;
  display: inline-block;
  overflow: auto;
  padding: 2pt;
}
a {
  color: crimson;
}
a:hover {
  background: royalblue;
  color: white;
  font-weight: bold;
}

#tree_canvas_div {
  display: block;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  max-height: 80vh;
  max-width: 98vw;
  overflow: auto;
}
svg {
  border: solid 1px royalblue;
  background: white;
}

table {
  border-collapse: collapse;
  margin: 1em;
}
td, th {
  border: solid 1px navy;
  padding: 4pt;
}
tr:nth-child(2n) > td {
  background: cadetblue;
}
tr:nth-child(2n+1) > td {
  background: darkgrey;
}
th {
  font-family: "筑紫B丸ゴシック", sans-serif;
  word-break: keep-all;
}
tr:nth-child(2n) > th {
  background: linear-gradient(to right, teal, powderblue 30%, cadetblue 90%, teal);
}
tr:nth-child(2n+1) > th {
  background: linear-gradient(to right, dimgray, lightgray 30%, darkgray 90%, dimgrey);
}
#svg_backup {
  display: inline;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#svg_backup > li {
  display: inline;
  margin-right: 1ex;
}
#svg_backup > li::before {
  content: "🎨";
}
p, nav {
  margin-left: 1em;
  margin-right: 1em;
}
nav {
  text-align: right;
}
p.info {
  border: 1px solid royalblue;
  padding: 4pt;
}
span.info {
  font-family: "Monaco", "Ricty Discord", "Courier New", monospace;
  background: lightcyan;
}
p.btn {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 240%;
}
span.btn {
  white-space: pre;
  font-family: serif;
  border-top: deepskyblue solid 4pt;
  border-right: teal solid 4pt;
  border-bottom: teal solid 4pt;
  border-left: deepskyblue solid 4pt;
  border-radius: 8pt;
  padding: 2pt;
  margin-right: 1em;
  background: powderblue;
}
span.btn:hover {
  background: navy;
  color: powderblue;
}
