rect {
  stroke-width: 2;
}
rect.neutral {
  stroke: hsl(0, 0%, 50%);
  fill: hsla(0, 0%, 100%, 0.5);
}
rect.feminine {
  stroke: hsl(20, 100%, 50%);
  fill: hsla(20, 100%, 90%, 0.5);
}
rect.masculine {
  stroke: hsl(150, 100%, 50%);
  fill: hsla(150, 100%, 90%, 0.5);
}
text {
  font-size: 24px;
  font-family: 'ヒラギノ明朝 ProN';
}
text.note, text.note.blue {
  font-size: 16px;
  fill: hsl(240, 90%, 50%);
}
text.note.sage_green {
  fill: hsl(190, 55%, 40%);
}
text.note.green {
  fill: hsl(100, 90%, 30%);
}
text.note.orange {
  fill: hsl(25, 80%, 50%);
}
text.note.red {
  fill: hsl(350, 90%, 50%);
}
text.note.purple {
  fill: hsl(310, 60%, 45%);
}
text.num_badge {
  font-size: 16px;
  font-family: 'Courier New', 'Ricty Discord', Ricty, Helvetica, Monaco, Courier, Arial, monospace;
  fill: white;
}
path {
  fill: none;
  stroke-width: 2;
  stroke: hsl(0, 0%, 50%);
}
path.dashed {
  stroke-dasharray: 4,4;  /* "4,4" と指定すると駄目 */
}
path.exceptional {
  stroke: hsl(330, 100%, 50%);
}

